.content {
    width: 225px;
    height: 220px;
}

.title {
    text-align: center;
}

.reason {
    resize: none;
    outline: none;
    overflow-y: scroll;
    width: 100%;
    height: 160px;
    border: none;
}

.actions {
    bottom: 0px;
    text-align: center;
}
.action-btn {
    all: unset;
    width: 80px;
    height: 30px;
    background-color: #9191914e;
    text-align: center;
    cursor: pointer;
}