.container {
    width: 100vw;
    height: 100vh;
}

.title-container {
    text-align: center;
    padding: 16px;
}

.title {
    font-size: 36pt;
    font-weight: bold;
}

.kanban-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.kanban-container > .kanban-column:not(:last-child) {
    border-right: 3px solid black;
}

.kanban-column {
    width: 100%;
    height: 100vh;
}

.kanban-column-title {
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
    border-bottom: 3px solid black;
    padding: 8px;
}

.kanban-column-content {
    height: 100vh;
    display: block;
    align-items: center;
}

.kanban-column-content-clickable {
    cursor:text;
}

.kanban-item {
    width: 225px;
    height: 220px;
    background-color: #ffff88;
    margin: 16px auto;
    padding-top: 16px;
    cursor: move;
    font-family: 'Reenie Beanie';
    font-size: 25px;
    text-align:center;
    position: relative;
    border-bottom-right-radius: 80px 25px;
    box-shadow: 18px 15px 20px 0px rgba(0, 0, 0, 0.12);
    transform: rotate(-3deg);
    overflow-y: scroll;
}

.status {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 10px;
    border: none;
}

.message {
    height: fit-content;
    font-size: 10pt;
    font-family: sans-serif;
    border: none;
}

.kanban-new-item {
    width: 225px;
    height: 220px;
    background-color: #ffff88;
    margin: 16px auto;
    padding: 8px;
    position: relative;
    border-bottom-right-radius: 80px 25px;
    box-shadow: 18px 15px 20px 0px rgba(0, 0, 0, 0.12);
    transform: rotate(-3deg);
}

.kanban-new-item > textarea {
    resize: none;
    outline: none;
    overflow-y: scroll;
    position: absolute;
    top: 10px;
    left: 8px;
    right: 8px;
    width: 90%;
    background-color: #ffff88;
    border: none;
}

.new-item-actions {
    position: absolute;
    bottom: 5px;
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
    margin: 4px;
}

.action-btn {
    all: unset;
    width: 80px;
    height: 30px;
    background-color: #d3cb34c8;
    text-align: center;
    cursor: pointer;
}

.action-btn:hover {
    background-color: #d3cb3484;
}
.action-btn:disabled{
    background-color: #d3cb3492;
    color: #5a5a5a65;
    cursor:default;
}


/* Drag Drop Styling*/
.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.kanban-column .cdk-drop-list-dragging .kanban-item:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}